@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

html,
body {
  font-size: 18px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}
:root {
  --brand-color: #04aa6d;
}
* {
  box-sizing: border-box;
}
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* .nav {
  justify-content: space-between;
} */
.brand-img {
  width: 75px;
}
.bi {
  padding: 15px;
}
.log-in {
  background-color: var(--brand-color);
  padding: 8px;
  border-radius: 25px;
  color: white;
  font-size: 12px;
  width: 70px;
  text-align: center;
}
